<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить инструмент</title>
</head>
<body>

<div>
    <a th:href="@{/closet}">Вернуться назад</a>
</div>
<br/>
<hr/>
<div align="center">
    <form th:method="POST" th:action="@{/closet/{id}/cell/{num_cell}/addtool(id=${id}, num_cell=${num_cell})}" th:object="${cellAndTools}">
        <input type="hidden" th:value="${cell.getId()}" th:attr="name='idCell'"/>
        <!--<input type="text" th:value="${cell.getId()}" name="id_cell" readonly/>-->

        <label for="id_tool">Выберите инструмент: </label>
        <select th:object="${cellAndTools}" th:field="*{idTool}" id="id_tool">
            <option th:each="tool : ${tools}" th:value="${tool.getId()}" th:text="${tool.getName()}">
            </option>
        </select>
        <br/>

        <label for="count">Введите количество: </label>
        <input type="text" th:field="*{count}" id="count"/>
        <div style="color:red" th:if="${#fields.hasErrors('count')}" th:errors="*{count}">Count Error</div>

        <br/>

        <input type="submit" value="Создать"/>
    </form>
</div>
</body>
</html>