<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Шкаф</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:replace="~{base :: header}"></header>

<div class="mainContent" th:block="content">
    <div class="titleMainContent">
        <p th:text="${closet.getName()}">Value</p>
    </div>

    <div class="centerContent">
        <div class="buttonNav">
            <a th:href="@{/closet}">Вернуться назад</a>
        </div>

        <div class="listContent">

            <table class="tableMain">
                <tbody class="tableBody">
                <tr>
                    <td class="tdName" th:text="${'Идентификатор:'}">VALUE</td>
                    <td th:text="${ceh.getId()}">Value</td>
                </tr>
                <tr>
                    <td class="tdName" th:text="${'Название:'}">VALUE</td>
                    <td th:text="${ceh.getName()}">Value</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="buttonEdit">
            <a th:href="@{/ceh/{id}/edit(id=${ceh.getId()})}">Редактировать тип</a>
            <hr>
            <button id="btnPressed" class="formButton">Удалить цех</button>
            <form class="formHidden" th:method="DELETE" th:action="@{/ceh/{id}(id=${ceh.getId()})}">
                <input id="btnHidden" class="formButtonHidden" type="submit" value="Удалить цех"/>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{base :: footer}"></footer>

<script type="text/javascript" th:src="@{/js/deleteConfirm.js}"></script>

















<div>
    <a th:href="@{/closet}">Вернуться назад</a>
</div>
<br/>
<hr/>
<div align="center">
    <p th:text="${'Идентификатор: ' + closet.getId()}">VALUE</p>
    <p th:text="${'Название: ' + closet.getName()}">VALUE</p>
    <p th:text="${'Тип шкафа: ' + closet.closetType.getName()}">VALUE</p>
    <p th:text="${'Цех: ' + closet.ceh.getName()}">VALUE</p>
    <br/>
    <a th:href="@{/closet/{id}/edit(id=${closet.getId()})}">Редактировать шкаф</a>

    <br/>
    <table>
        <tbody>
        <tr th:each="iShelf : ${#numbers.sequence(1, closet.getClosetType().getShelves())}">
            <td th:each="iCell : ${#numbers.sequence(1, closet.getClosetType().getCellsForShelf())}">
                <div th:each="cellOne : ${cells}" th:if="${cellOne.getNumber()} == ${cellOne.getNumByPosition(closet.getClosetType().getCellsForShelf(), iShelf, iCell)}">
                    <a th:text="'Ячейка ' + ${cellOne.getNumber()}" th:href="@{/closet/{id}/cell/{num_cell}(id=${closet.getId()}, num_cell=${cellOne.getNumber()})}">Ссылка</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <form th:method="DELETE" th:action="@{/closet/{id}(id=${closet.getId()})}">
        <input type="submit" value="Удалить шкаф"/>
    </form>
</div>


</body>
</html>