<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать тип</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:replace="~{base :: header}"></header>

<div class="mainContent" th:block="content">
    <div class="titleMainContent">
        <p>Редактирование типа</p>
    </div>

    <div class="centerContent">

        <div class="buttonNav">
            <a th:href="@{/closettype/{id}(id=${closetType.getId()})}">Вернуться назад</a>
        </div>

        <div class="listContent">
            <form th:method="PATCH" th:action="@{/closettype/{id}(id=${closetType.getId()})}" th:object="${closetType}">
                <div class="formLine">
                    <label class="formLabel" for="name">Название: </label>
                    <input class="formInputText" type="text" th:field="*{name}" id="name"/>
                    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                </div>

                <div class="formLine">
                    <label class="formLabel" for="shelves">Введите количество полок: </label>
                    <input class="formInputText" type="text" th:field="*{shelves}" id="shelves"/>
                    <div style="color:red" th:if="${#fields.hasErrors('shelves')}" th:errors="*{shelves}">shelves Error</div>
                </div>

                <div class="formLine">
                    <label class="formLabel" for="cellsForShelf">Введите количество ячеек на полку: </label>
                    <input class="formInputText" type="text" th:field="*{cellsForShelf}" id="cellsForShelf"/>
                    <div style="color:red" th:if="${#fields.hasErrors('cellsForShelf')}" th:errors="*{cellsForShelf}">cellsForShelf Error</div>
                </div>

                <div class="formLine">
                    <label class="formLabel" for="capacity">Введите общую вместимость: (на данный момент должна быть равна произведению количества полок на количество ячеек) </label>
                    <input class="formInputText" type="text" th:field="*{capacity}" id="capacity"/>
                    <div style="color:red" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">capacity Error</div>
                </div>

                <div class="buttonEdit">
                    <input class="formButton" type="submit" value="Обновить"/>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{base :: footer}"></footer>

</body>
</html>