<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все типы шкафов</title>
</head>
<body>

<div>
    <a th:href="@{/}">Вернуться назад</a>
</div>
<br/>
<hr/>
<div align="center" th:each="closetType : ${closetTypes}">
    <a th:href="@{/closettype/{id}(id=${closetType.getId()})}"
       th:text="${closetType.getName()}">closetType</a>
</div>

<br/>
<hr/>
<div align="center">
    <a href="/closettype/new">Создать новый тип</a>
</div>

</body>
</html>