body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededed;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Стили для шапки */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #606060, #676767);
    color: #fff;
    font-family: Arial, sans-serif;
    height: 68px;
}

/* Стили для логотипа */
.logo img {
    max-height: 50px;
    margin-left: 9px;
    margin-top: 4px;
}

/* Стили для навигации */
nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    width: 100%;
    font-size: 16px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для футера */
footer {
    background-color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 1rem;
}

.footer-container {
    margin: 0 auto;
}

.footer-container p {
    margin: 0;
    color: #666;
}

.mainContent {
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #2c2c2c;
    text-decoration: none;
    flex-grow: 1;
    padding: 2rem;
}

.mainContent a {
    color: #2c2c2c;
    text-decoration: none;
}

.mainContent a:hover {
    color: #fff; /* Цвет текста */
    background: #008; /* Цвет фона */
}

.titleMainContent {
    width: 100px;
}

.titleMainContent p {
    width: 100px;
}

.buttonNav {
    width: 100px;
}

.centerContent {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 18px solid cornflowerblue;
    border-style: inset;
    border-radius: 30px;
}

.buttonEdit {
    width: 200px;
}



