<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый цех</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div>
    <a th:href="@{/ceh}">Вернуться назад</a>
</div>
<br/>
<hr/>
<div align="center">
    <form th:method="POST" th:action="@{/ceh}" th:object="${ceh}">
        <label for="name">Введите название: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br/>
        <input type="submit" value="Создать"/>
    </form>
</div>
</body>
</html>