<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать инструмент</title>
</head>
<body>
<div>
    <a th:href="@{/tool/{id}(id=${tool.getId()})}">Вернуться назад</a>
</div>
<br/>
<hr/>
<div align="center">
    <form th:method="PATCH" th:action="@{/tool/{id}(id=${tool.getId()})}" th:object="${tool}">
        <label for="name">Введите название: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br/>
        <label for="manufacturer">Введите название: </label>
        <input type="text" th:field="*{manufacturer}" id="manufacturer"/>
        <div style="color:red" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">Name Error</div>
        <br/>
        <input type="submit" value="Обновить"/>
    </form>
</div>
</body>
</html>