<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание инструмента</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:replace="~{base :: header}"></header>

<div class="mainContent" th:block="content">
    <div class="titleMainContent">
        <p>Создание инструмента</p>
    </div>

    <div class="centerContent">
        <div class="buttonNav">
            <a th:href="@{/tool}">Вернуться назад</a>
        </div>

        <div class="listContent">
            <form th:method="POST" th:action="@{/tool}" th:object="${tool}">
                <div class="formLine">
                <label class="formLabel" for="name">Введите название: </label>
                <input class="formInputText" type="text" th:field="*{name}" id="name"/>
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                </div>

                <div class="formLine">
                <label class="formLabel" for="manufacturer">Введите изготовителя: </label>
                <input class="formInputText" type="text" th:field="*{manufacturer}" id="manufacturer"/>
                <div style="color:red" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">Name Error</div>
                </div>

                <div class="buttonEdit">
                <input class="formButton" type="submit" value="Создать"/>
                </div>
            </form>
    </div>
</div>

<footer th:replace="~{base :: footer}"></footer>

</body>
</html>