<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Инструмент</title>
</head>
<body>
<div>
    <a th:href="@{/tool}">Вернуться назад</a>
</div>
<br/>
<hr/>
<div align="center">
    <p th:text="${'Идентификатор: ' + tool.getId()}">VALUE</p>
    <p th:text="${'Название: ' + tool.getName()}">VALUE</p>
    <p th:text="${'Изготовитель: ' + tool.getManufacturer()}">VALUE</p>
    <br/>
    <a th:href="@{/tool/{id}/edittool(id=${tool.getId()})}">Редактировать инструмент</a>

    <form th:method="DELETE" th:action="@{/tool/{id}(id=${tool.getId()})}">
        <input type="submit" value="Удалить инструмент"/>
    </form>
</div>
</body>
</html>