<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Весь инструмент</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:replace="~{base :: header}"></header>

<div class="mainContent" th:block="content">
    <div class="titleMainContent">
        <p>Инструмент</p>
    </div>
    <div class="centerContent">
        <div class="buttonNav">
            <a th:href="@{/}">Вернуться назад</a>
        </div>
        <br/>

        <div class="listContent" th:each="tool : ${tools}">
            <a th:href="@{/tool/{id}(id=${tool.getId()})}"
               th:text="${tool.getName()}">tool</a>
        </div>
        <br/>
        <div class="buttonEdit">
            <a href="/tool/new">Создать инструмент</a>
        </div>
    </div>



</div>

<footer th:replace="~{base :: footer}"></footer>


</body>
</html>